* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}
body {
   background-color: rgb(168, 247, 220);
}
h1 h2 h3 h4 h5 h6 {
  color: #333;
}
p, label {
  color: #444;
}

.input{
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}
.input[type="text"], .input[type=number], .input[type=date] {
  width: 400px;
 }

.textarea {
  padding: 10px 5px;
 }

.cabecalho {
  background-color: rgb(255, 255, 255);
    height: 700px;
    padding: 20px;
    
}
.form-container {
    background-color: rgb(90, 250, 229);
    width: 50%;
    padding: 20px;
    margin: 0 auto;
    position: relative;
    top: -20px;
}
.form-header {
  border-bottom: 1px solid #dfdfdf;
  height: 45px;
}

.form-header p{
  color: #ffdada;
  border-bottom: 1px solid #fdfdfd;
  width: 100%;
  margin: 0 auto;
  text-transform: uppercase;
  height: 45px;
  list-style: 45px;
}
.form-body {
  padding:30px;
}

.titulo-form{
  margin-bottom: 15px;

}
.form-body p{
  margin-bottom: 20px;
}

.campo-obrigatorio {
  color: red;
}

.caixainputs {
  margin-bottom: 20px;
}

.block {
  display: block;
}
.caixaOpcional {
  display: inline-block;
  margin: 0 30px 0 30px;
}
.caixaOpcional li {
  list-style: none;
  margin-bottom: 5px;
}

.btn-submit {
margin-top: 15px;
}
